<div class="container">
  <div class="row">
    <div class="col">
      <h1>Wine Data Form</h1>
      <hr>
    </div>
  </div>
</div>

<form action="/regression" method="POST">

  <div class="form-group">
    <label>Fixed Acidity</label>
    <input type="text" class="form-control" id="fixedacidity" name="fixedacidity" placeholder="">
  </div>

  <div class="form-group">
    <label>Volatile Acidity</label>
    <input type="text" class="form-control" id="volatileacidity" name="volatileacidity" placeholder="">
  </div>

  <div class="form-group">
    <label>Citric Acid</label>
    <input type="text" class="form-control" id="citricacid" name="citricacid" placeholder="">
  </div>
  
  <div class="form-group">
    <label>Residual Sugar</label>
    <input type="text" class="form-control" id="residualsugar" name="residualsugar" placeholder="">
  </div>
  
  <div class="form-group">
    <label>chlorides</label>
    <input type="text" class="form-control" id="chlorides" name="chlorides" placeholder="">
  </div>
  
  <div class="form-group">
    <label>Free Sulfur Dioxide</label>
    <input type="text" class="form-control" id="freesulfurdioxide" name="freesulfurdioxide" placeholder="">
  </div>
  
  <div class="form-group">
    <label>Total Sulfur Dioxide</label>
    <input type="text" class="form-control" id="totalsulfurdioxide" name="totalsulfurdioxide" placeholder="">
  </div>
  
  <div class="form-group">
    <label>Density</label>
    <input type="text" class="form-control" id="density" name="density" placeholder="">
  </div>
  
  <div class="form-group">
    <label>pH</label>
    <input type="text" class="form-control" id="ph" name="ph" placeholder="">
  </div>
  
  <div class="form-group">
    <label>Sulphates</label>
    <input type="text" class="form-control" id="sulphates" name="sulphates" placeholder="">
  </div>
  
  <div class="form-group">
    <label>alcohol</label>
    <input type="text" class="form-control" id="alcohol" name="alcohol" placeholder="">
  </div>

</form>

<button type="submit" class="btn btn-primary">Submit</button>
